@font-face {
    font-family: "Hanken Grotesk";
    src: url(assets/fonts/HankenGrotesk-VariableFont_wght.ttf) format("truetype");
}
@font-face {
    font-family: "Hanken Grotesk";
    src: url(assets/fonts/static/HankenGrotesk-Bold.ttf) format("truetype");
    font-weight: 700;
}
@font-face {
    font-family: "Hanken Grotesk";
    src: url(assets/fonts/static/HankenGrotesk-ExtraBold.ttf) format("truetype");
    font-weight: 800;
}
@font-face {
    font-family: "Hanken Grotesk";
    src: url(assets/fonts/static/HankenGrotesk-Medium.ttf) format("truetype");
    font-weight: 500;
}

/* || RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* img {
    display: block;
    width: 100%;
    height: auto;
}  */
/* || VARIABLES */
:root {
    /* PRIMARY COLORS */
    --LIGHT-RED: hsl(0, 100%, 67%);
    --ORANGEY-YELLOW: hsl(39, 100%, 56%);
    --GREEN-TEAL: hsl(166, 100%, 37%);
    --COBALT-BLUE: hsl(234, 85%, 45%);

    /* GRADIENT COLORS */
    --BG-SBLUE: hsl(252, 100%, 67%);
    --BG-RBLUE: hsl(241, 81%, 54%);
    --CIRCLE-VIOLET-BLUE: hsla(256, 72%, 46%, 1);
    --CIRCLE-PERSIAN-BLUE: hsla(241, 72%, 46%, 0);

    /* NEUTRAL COLORS */
    --WHITE: hsl(0, 0%, 100%);
    --PALE-BLUE: hsl(221, 100%, 96%);
    --LIGHT-LAVENDER: hsl(241, 100%, 89%);
    --DARK-GRAY-BLUE: hsl(224, 30%, 27%);
}

/* || UTILITY CLASSES */
.center {
    text-align: center;
    padding: 4px;
    color: var(--WHITE);
}
/* || GENERAL STYLES */

body {
    font-family: "Hanken Grotesk", monospace;

}
main {
    position: absolute;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    background-color: var(--PALE-BLUE);
}

p { font-size: 16px;}
/* p { font-size: clamp(16px 2.2vh 18px);} */

article {
    width: 320px;
    height: auto;
    padding: 16px;
}


.result {
    background: linear-gradient(var(--BG-SBLUE), var(--BG-RBLUE));
    border-radius:20px;
    position: relative;
    z-index: 1;
    margin-top: -15px;


}
.result__heading {
    color: var(--LIGHT-LAVENDER);
    text-align: center;
    margin: 0 auto 16px;
}

.result__circle {
    background: linear-gradient(var(--CIRCLE-VIOLET-BLUE), var(--CIRCLE-PERSIAN-BLUE));
    display: flex;
    flex-flow: nowrap column;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 150px;
    height: 150px;
    /* border: 1px solid red; */
    border-radius: 50%;
    margin: 0 auto 16px;
}
.result__circle h1 {
    color: var(--WHITE);
    font-weight: 800;
    font-size: 48px;
}
.result__circle p {
    color: var(--LIGHT-LAVENDER);
    font-weight: 500;
}

.result__info {
    color: var(--LIGHT-LAVENDER);
    font-weight: 500;
    white-space: wrap;
}





.summary {
    position: relative;
    /* margin-left: -10px; */
    margin-top: -15px;
    background-color: var(--WHITE);
    border-radius: 20px;
}
.summary__container {
    margin-top: 15px;
}

.summary__heading {
    font-weight: 500;
}

ol {
    list-style: none;
}

li{
    display: block;
    width: 100%;
    line-height: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 8px auto;
    padding-right: 8px;
    /* border: 1px solid rebeccapurple; */
    border-radius: 10px;
}

.summary__fig {
    display: flex;
    align-items: center;
} 

.summary__fig,
.summary__fig figcaption{
    padding-left: 8px;
}

/* .summary__reaction {
    background: var(--LIGHT-RED);
    opacity: 0.1;
} */

.reaction {
    color: var(--LIGHT-RED);
}

.memory {
    color: var(--ORANGEY-YELLOW);
}

.verbal {
    color: var(--GREEN-TEAL);
}

.visual {
    color: var(--COBALT-BLUE);
}

button {
    background-color: var(--DARK-GRAY-BLUE);
    display: block;
    width: 100%;
    height: auto;
    margin-top: 1em;
    font: inherit;
    color: var(--WHITE);
    line-height: 1.5em;
    padding: 0.5em;
    border-radius: 30px;
    border: none;
    /* outline: none; */
}

button:hover, button:active {
    cursor: pointer;
    background-color: var(--BG-RBLUE);
}

/* || MEDIA QUERIES 
 || SMALL 
 @media screen and (min-width: 576px) {
    body {
      background-color: green;
      background-image: radial-gradient(whitesmoke, green)
    }
    nav {
      display: none;
    }
  }
  
  /* || MEDIUM 
  @media screen and (min-width: 768px) {
    body {
      background-color: gold;
      background-image: radial-gradient(whitesmoke, gold)
    }
  }
  
  /* || LARGE 
  @media screen and (min-width: 992px) {
    body {
      background-color: firebrick;
      background-image: radial-gradient(whitesmoke, firebrick)
    }
  }
  
  /* || XL  
  @media screen and (min-width: 1200px) {
    body {
      background-color: rebeccapurple;
      background-image: radial-gradient(whitesmoke, rebeccapurple)
    }
  }

*/
  